{% extends "crearexamen.html" %}
{% load static %}

{% block headers %}
<table class="table table-striped table-sm table-hover table-bordered">
    <form class="form-control" method="GET" action="{% url 'examen' %}">
        <input class="form-control" type="text" placeholder="Buscar..." name="buscar" value="{{ request.GET.buscar }}">
        <button class="form-control" type="submit">Buscar examen</button>
    </form>
        <tr>
            <a class="nav-link"  href="{% url 'exportarListExamen' %}"> <i class="fas fa-file-pdf fa-5x"></i></a>
        </tr>
        <tr>
            <th>Nombre del examen</th>
            <th>Opciones</th>
        </tr>

        {% for p in examen %}

        <tr>
            <td>{{ p.nombre_examen }}</td>
            <td><a class="nav-link" href="{% url 'modificarexamen' p.id %}">Modificar</a></td>
            <td><a class="nav-link" href="{% url 'eliminarexamen' p.id %}">Eliminar</a></td>
        </tr>

         {% endfor %}
    </table>
    <a class="nav-link" href="{% url 'crearexamen' %}">Crear examen</a>
  {% endblock %}