{% extends "crearexamenconsulta.html" %}
{% load static %}

{% block headers %}
<table class="table table-striped table-sm table-hover table-bordered">

        <tr>
            <a class="nav-link"  href="{% url 'exportarListExamenConsulta' %}"> <i class="fas fa-file-pdf fa-5x"></i></a>
        </tr>

        <tr>
            <th>Descripcion</th>
            <th>Consulta</th>
            <th>Examen</th>
            <th>Paciente</th>
            <th>Opciones</th>

        </tr>

        {% for p in examenconsulta %}

        <tr>
            <td>{{ p.descripcion }}</td>
            <td>{{ p.consulta }}</td>
            <td>{{ p.examen }}</td>
            <td>{{ p.paciente }}</td>
            <td><a class="nav-link" href="{% url 'modificarexamenconsulta' p.id %}">Modificar</a></td>
            <td><a class="nav-link" href="{% url 'eliminarexamenconsulta' p.id %}">Eliminar</a></td>
        </tr>

         {% endfor %}
    </table>
    <a class="nav-link" href="{% url 'crearexamenconsulta' %}">Crear examenconsulta</a>
  {% endblock %}