{% extends "crearpaciente.html" %}
{% load static %}

{% block content %}
    <table>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha de nacimiento</th>
            <th>Cedula</th>
            <th>Edad</th>
            <th>Email</th>
            <th>Sexo</th>
            <th>Estado civil</th>
            <th>Telefono</th>
            <th>Opciones</th>
        </tr>

        {% for p in paciente %}

        <tr>
            <td>{{ p.nombre }}</td>
            <td>{{ p.apellido }}</td>
            <td>{{ p.fecha_nacimiento}}</td>
            <td>{{ p.cedula }}</td>
            <td>{{ p.edad }}</td>
            <td>{{ p.email }}</td>
            <td>{{ p.sexo }}</td>
            <td>{{ p.estado_civil }}</td>
            <td>{{ p.telefono }}</td>
            <td><a class="nav-link" href="{% url 'modificarpaciente' p.id %}">Modificar</a></td>
            <td><a class="nav-link" href="{% url 'eliminarpaciente' p.id %}">Eliminar</a></td>
        </tr>

         {% endfor %}
    </table>
  {% endblock %}
