{% extends "crearconsulta.html" %}
{% load static %}

{% block headers %}
<table class="table table-striped table-sm table-hover table-bordered">
    <form class="form-control" method="GET" action="{% url 'consulta' %}">
        <input class="form-control" type="text" placeholder="Buscar..." name="buscar" value="{{ request.GET.buscar }}">
        <button class="form-control" type="submit">Buscar Consulta</button>
    </form>
                <tr>
                    <a class="nav-link"  href="{% url 'exportarListConsultas' %}"> <i class="fas fa-file-pdf fa-5x"></i></a>
                </tr>
                 <tr>
                       <th>Fecha de consulta</th>
                       <th>Motivo de la consulta</th>
                       <th>Medico</th>
                       <th>Paciente</th>
                       <th>Opciones</th>
                 </tr>

                 {% for p in consulta %}

                 <tr>
                      <td>{{ p.fecha_consulta }}</td>
                      <td>{{ p.motivoconsulta }}</td>
                      <td>{{ p.medico}}</td>
                      <td>{{ p.paciente }}</td>
                      <td><a class="nav-link" href="{% url 'modificarconsulta' p.id %}">Modificar</a></td>
                      <td><a class="nav-link" href="{% url 'eliminarconsulta' p.id %}">Eliminar</a></td>
                 </tr>

                 {% endfor %}
         </table>
    <a class="nav-link" href="{% url 'crearconsulta' %}">Crear consulta</a>
  {% endblock %}
