{% extends "crearantecedenteconsulta.html" %}
{% load static %}

{% block headers %}
    <table>
        <tr>
            <th>Fecha de consulta</th>
            <th>Motivo de la consulta</th>
            <th>Opciones</th>
        </tr>

        {% for p in antecedenteconsulta %}

        <tr>
            <td>{{ p.antecedente }}</td>
            <td>{{ p.consulta }}</td>
            <td><a class="nav-link" href="{% url 'modificarantecedenteconsulta' p.id %}">Modificar</a></td>
            <td><a class="nav-link" href="{% url 'eliminarantecedenteconsultaconsulta' p.id %}">Eliminar</a></td>
        </tr>

         {% endfor %}
    </table>
    <a class="nav-link" href="{% url 'crearpaciente' %}">Crear paciente</a>
  {% endblock %}
