{% extends "crearhorariomedico.html" %}
{% load static %}

{% block headers %}
<table class="table table-striped table-sm table-hover table-bordered">
    <form class="form-control" method="GET" action="{% url 'horariomedico' %}">
        <input class="form-control" type="text" placeholder="Buscar..." name="buscar" value="{{ request.GET.buscar }}">
        <button class="form-control" type="submit">Buscar horario de medico</button>
    </form>
        <tr>
            <a class="nav-link"  href="{% url 'exportarListHorarioMedico' %}"> <i class="fas fa-file-pdf fa-5x"></i></a>
        </tr>
        <tr>
            <th>Medico</th>
            <th>Dia de atencion</th>
            <th>Horario de atencion</th>
            <th>Opciones</th>
        </tr>

        {% for p in horariomedico %}

        <tr>
            <td>{{ p.medico }}</td>
            <td>{{ p.dia_atencion }}</td>
            <td>{{ p.horario_atencion}}</td>
            <td><a class="nav-link" href="{% url 'modificarhorariomedico' p.id %}">Modificar</a></td>
            <td><a class="nav-link" href="{% url 'eliminarhorariomedico' p.id %}">Eliminar</a></td>
        </tr>

         {% endfor %}
    </table>
    <a class="nav-link" href="{% url 'crearhorariomedico' %}">Crear horario del medico</a>
  {% endblock %}
