{% extends "creardiadeatencion.html" %}
{% load static %}

{% block headers %}
 <table class="table table-striped table-sm table-hover table-bordered">
    <form class="form-control" method="GET" action="{% url 'diadeatencion' %}">
        <input class="form-control" type="text" placeholder="Buscar..." name="buscar" value="{{ request.GET.buscar }}">
        <button class="form-control" type="submit">Buscar Dia de Atención</button>
    </form>

        <tr>
            <th>Descripcion del dia</th>
            <th>Opciones</th>
        </tr>

        {% for p in diadeatencion %}

        <tr>
            <td>{{ p.descripcion_dia }}</td>
            <td><a class="nav-link" href="{% url 'modificardiadeatencion' p.id %}">Modificar</a></td>
            <td><a class="nav-link" href="{% url 'eliminardiadeatencion' p.id %}">Eliminar</a></td>
        </tr>

         {% endfor %}
    </table>
    <a class="nav-link" href="{% url 'creardiadeatencion' %}">Dias de atencion</a>

  {% endblock %}
