{% extends "crearhorariodeatencion.html" %}
{% load static %}

{% block headers %}
<table class="table table-striped table-sm table-hover table-bordered">
    <form class="form-control" method="GET" action="{% url 'horariodeatencion' %}">
        <input class="form-control" type="text" placeholder="Buscar..." name="buscar" value="{{ request.GET.buscar }}">
        <button class="form-control" type="submit">Buscar horario de atencion</button>
    </form>

        <tr>
            <th>Hora de inicio</th>
            <th>Hora de fin</th>
            <th>Opciones</th>
        </tr>

        {% for p in horariodeatencion %}

        <tr>
            <td>{{ p.hora_inicio }}</td>
            <td>{{ p.hora_fin }}</td>
            <td><a class="nav-link" href="{% url 'modificarhorariodeatencion' p.id %}">Modificar</a></td>
            <td><a class="nav-link" href="{% url 'eliminarhorariodeatencion' p.id %}">Eliminar</a></td>
        </tr>

         {% endfor %}
    </table>
    <a class="nav-link" href="{% url 'crearhorariodeatencion' %}">Crear horario de atencion</a>
  {% endblock %}
