{% extends "crearmedicos.html" %}
{% load static %}
{% load widget_tweaks %}


{% block headers %}
<table class="table table-striped table-sm table-hover table-bordered">
    <form class="form-control" method="GET" action="{% url 'medicos' %}">
        <input class="form-control" type="text" placeholder="Buscar..." name="buscar" value="{{ request.GET.buscar }}">
        <button class="form-control" type="submit">Buscar medico</button>
    </form>
        <tr>
            <a class="nav-link"  href="{% url 'exportarListMedicos' %}"> <i class="fas fa-file-pdf fa-5x"></i></a>
        </tr>
        <tr>
            <th>Apellidos</th>
            <th>Nombres</th>
            <th>Especialidad</th>
            <th>Fecha de nacimiento</th>
            <th>Email</th>
            <th>Sexo</th>
            <th>Opciones</th>
        </tr>

        {% for p in medico %}

        <tr>
            <td>{{ p.apellido }}</td>
            <td>{{ p.nombre }}</td>
            <td>{{ p.especialidad }}</td>
            <td>{{ p.fecha_nacimiento }}</td>
            <td>{{ p.email }}</td>
            <td>{{ p.sexo }}</td>
            <td><a class="nav-link" href="{% url 'modificarmedicos' p.id %}">Modificar</a></td>
            <td><a class="nav-link" href="{% url 'eliminarmedicos' p.id %}">Eliminar</a></td>
        </tr>




         {% endfor %}
    </table>
    <a class="nav-link" href="{% url 'crearmedicos' %}">Agregar medico</a>
  {% endblock %}
