{% extends "index.html" %}
{% load static %}

{% block headers %}
    <div class="container">
        <div class="col-md-8" style="margin-top: 70px;">

            <h2> Usuarios </h2>

<table class="table table-striped table-sm table-hover table-bordered">
    <form class="form-control" method="GET" action="{% url 'consultar_usuarios' %}">
        <input class="form-control" type="text" placeholder="Buscar..." name="buscar" value="{{ request.GET.buscar }}">
        <button class="form-control" type="submit">Buscar </button>
    </form>
                    <tr>
                        <a class="nav-link"  href="{% url 'exportarListUsuarios' %}"> <i class="fas fa-file-pdf fa-5x"></i></a>
                    </tr>
                    <thead>
                    <tr>
                         <th>Id</th>
                        <th>Username</th>
                         <th>Rol</th>

                        <th>Editar</th>
                          <th>Eliminar</th>

                    </tr>
                    </thead>
                    <tbody>

                    {% for u in usuarios %}
                        <tr>
                         <td>{{ u.id }}</td>
                            <td>{{ u.username }}</td>
                            <td>{{ u.rolusuario.rol.nombre }}</td>


                        <td>  <a class="nav-link" href="{% url 'modificar_usuario' u.id  %}">Modificar</a> </td>

                        <td>  <a class="nav-link" href="{% url 'eliminar_usuario' u.id  %}">Eliminar</a> </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <a class="nav-link" href="{% url 'crear_usuario' %}">Crear Usuario</a>


        </div>
    </div>



{% endblock %}
