{% extends "index.html" %}
{% load static %}

{% block headers %}
    <div class="container">
        <div class="col-md-8" style="margin-top: 70px;">

            <h2> Roles con Usuarios Asociados </h2>

<table class="table table-striped table-sm table-hover table-bordered">
    <form class="form-control" method="GET" action="{% url 'consultar_roles_usuarios' %}">
        <input class="form-control" type="text" placeholder="Buscar..." name="buscar" value="{{ request.GET.buscar }}">
        <button class="form-control" type="submit">Buscar </button>
    </form>
                    <tr>
                        <a class="nav-link"  href="{% url 'exportarListMedicos' %}"> <i class="fas fa-file-pdf fa-5x"></i></a>
                    </tr>
                    <tr>
                         <th>Id</th>
                        <th>Rol</th>
                        <th>Usuario</th>

                        <th>Editar</th>
                          <th>Eliminar</th>

                    </tr>
                    <tbody>

                    {% for r in rolesusuarios %}
                        <tr>
                         <td>{{ r.id }}</td>
                            <td>{{ r.rol }}</td>
                            <td>{{ r.usuario }}</td>


                        <td>  <a class="nav-link" href="{% url 'modificar_rol_usuario' r.id  %}">Modificar</a> </td>

                        <td>  <a class="nav-link" href="{% url 'eliminar_rol_usuario' r.id  %}">Eliminar</a> </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <a class="nav-link" href="{% url 'crear_rol_usuario' %}">Crear Rol Usuario</a>


        </div>
    </div>



{% endblock %}
